<html>

<head>
    <link rel="stylesheet" href="./telegra.ph.css">
</head>

<body>
    <div class="page">
        <ul>
        {{#each .}} <li><a href="./{{page_path}}/index.html">{{page_path}}</a></li> {{/each}}
        </ul>
    </div>
</body>

</html>