<a href="https://github.com/shaneqi" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> GitHub</a> •
<a href="https://twitter.com/shadowqi" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> •
<a href="https://t.me/ShaneQi" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</a> •
<a href="mailto:qizengtai@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>