<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/telegraph.css">
    {{!-- font awesome --}}
    <script src="https://use.fontawesome.com/8315d2853f.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-107075173-1', 'auto');
    ga('send', 'pageview');
    </script>
    <title>Shane's Rusty Blog</title>
</head>

<body>
    <div class="page">
        <h1>Shane's Rusty Blog</h1>
        <br>
        <p>
            {{> contact}}
        </p>
        <br>
        <ul>
            {{#each . as |post|}}
            <li><a href="./{{post.permalink}}">{{post.title}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>

</html>