<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/telegraph.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="page">
        <h1>{{title}}</h1>
        <div class="compose-info">Shane Qi &#x2022; {{date}}</div>
        {{content}}
    </div>
</body>

</html>