<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/telegraph.css">
    {{!-- prism --}}
    <link rel="stylesheet" href="../css/prism.css">
    <link rel="stylesheet" href="../css/prism-patch.css">
    <script src="../script/prism.js"></script>
    {{!-- font awesome --}}
    <script src="https://use.fontawesome.com/8315d2853f.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107075173-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-107075173-1');
    </script>
    <title>{{title}}</title>
</head>

<body>
    <div class="page">
        <p class="back-button">
            <a href="../">Back to Home</a>
        </p>
        <h1>{{title}}</h1>
        <div class="compose-info">Shane Qi • {{date}}</div>
        {{content}}
        <hr>
        <p class="contact-footer">{{> contact}}</p>
    </div>
</body>

</html>